<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('HOME', 'home.css', 'home.js')"></head>
<body>
    <div id="container">
        <div id="main">
            <div id="top">
                <input type="checkbox" id="layerPopup">
                <label for="layerPopup">New</label>
                <div id="layer_bg">
                    <div id="popup">
                        <h2>
                            New
                            <label for="layerPopup" id="closeLabel">X</label>
                        </h2>
                        <form id="frm1" th:action="@{/word/register}" method="post" th:object="${word}" onsubmit="return fn_chkWordRegisterFrm();">
                            <div id="layer_content">
                                    <div>
                                        <label for="word">Word</label>
                                        <input type="text" name="word" id="word" maxlength="50" autocomplete="off">
                                    </div>

                                    <div>
                                        <label for="meaning">Meaning</label>
                                        <input type="text" name="meaning" id="meaning" maxlength="50" autocomplete="off">
                                    </div>

                                    <button type="submit" id="wordSaveBtn">Save</button>
                            </div>
                        </form>
                    </div>
                </div>

                <button type="button" id="resetBtn" onclick="fn_reset()">Reset</button>
                <span th:text="${session.loginMember.name}" th:onclick="fn_myPage([[${session.loginMember.member_pk}]])"></span>
                <a href="/logout" id="logout">Logout</a>

            </div>
            <form id="frm2" th:action="@{/word/save}" method="post" th:object="${answer}">
                <input type="hidden" name="mode" id="mode" value=""/>
                <div id="center">
                    <ul id="tabs">
                        <li class="on"><span>Wrong</span></li>
                        <li><span>Question</span></li>
                    </ul>

                    <div id="content">
                        <div th:each="word : ${wordList}">
                            <label th:for="${'answer' + wordStat.index}" th:text="${(wordStat.index+1)  + '. ' + word.word}"></label>
                            <input type="text" name="answer" maxlength="50" autocomplete="off">
                            <input type="hidden" name="hiddenMeaning" th:value="${word.meaning}">
                            <input type="hidden" name="word_pk" th:value="${word.word_pk}">
                        </div>
                    </div>

                </div>
                <div id="footer">
                    <button type="submit" name="saveBtn" id="saveBtn">Save</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>